<!DOCTYPE html>
<html>
<head>
<title>CBA Calc</title>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script src="CalcJS.js"></script>
<link rel="stylesheet" type="text/css" href="CalcCss.css">

</head>

<body ng-controller="RealEstateController" ng-app="RealEstateApp">


    <div style='float: left' class='input'>

    <fieldset>
        <div><label for='CalcType'>Calculation Type</label>
            <select id='CalcType'  name="singleSelect" ng-model="CalcType"
                            ng-change='TypeChanged()'
                            ng-disabled='DeterminePaymentTerms'>
                  <option value="1">Finance Lease</option>
                  <option value="2">Hire Purchase</option>
                  <option value="3">Equipment Loan</option>
                  <option value="4">Novated Finance Lease</option>
                  <option value="5">Protected Lease</option>
            </select>
            <input ng-model="CalcType" type='number'/>
        </div>
    </fieldset>

    <fieldset>
        <legend>Details</legend>
        
        <div><label for='InAdvanced'>In Arrears or In Advance</label>
        <select id='InAdvanced'  name="singleSelect" ng-model="InAdvanced"
                        ng-change='ComputeFromAmountFinanced()'
                        ng-disabled='DeterminePaymentTerms'>
              <option value="true">In Advanced</option>
              <option value="false">In Arears</option>
        </select>
        <input ng-model="InAdvanced"/>
        </div>

        <div><label for='Frequency'>Frequency</label>
            <select id='Frequency'  name="singleSelect" ng-model="Frequency"
                            ng-change='FrequencyChanged()'
                            ng-disabled='DeterminePaymentTerms'>
                  <option value="Monthly">Monthly</option>
                  <option value="Quarterly">Quarterly</option>
                  <option value="Half Yearly">Half Yearly</option>
                  <option value="Yearly">Yearly</option>
            </select>
            <input ng-model="Frequency" type='Text'/>
        </div>

        <div><label for='State'>State</label>
            <select id='State'  name="singleSelect" ng-model="State"
                            ng-change='ComputeFromAmountFinanced()'
                            ng-disabled='DeterminePaymentTerms'>
                  <option value="NSW">NSW</option>
                  <option value="QLS">QLD</option>
                  <option value="VIC">VIC</option>
                  <option value="SA">SA</option>
                  <option value="TAS">TAS</option>
                  <option value="WA">WA</option>
                  <option value="ACT">ACT</option>
                  <option value="NT">NT</option>

            </select>
            <input ng-model="State" type='Text'/>
        </div>

        <div><label for='LesseeRate'>Start Date</label>
        <input type='date' ng-model='DDateText' ng-change='ComputeFromLesseeRate()'/></div>
        <div><input style='width: 300px' ng-disabled='true' id='DDate' ng-model='DDate' ng-change='ComputeFromLesseeRate()'/></div>        
        

        
        <div><label for='AssetType'>AssetType</label>
            <select id='AssetType'  name="singleSelect" ng-model="AssetType"
                            ng-change='ComputeFromAmountFinanced()'
                            ng-disabled='DeterminePaymentTerms'>
                  <option value="Car-Luxury">Car-Luxury</option>
                  <option value="Car-Fuel Efficient">Car-Fuel Efficient</option>
                  <option value="All Other Assets">All Other Assets</option>
            </select>
            <input ng-model="AssetType" type='Text'/>
        </div>        



        <div><label for='EquipmentCost'>Equipment Cost (Inc GST_LCT)</label>
            <input 
            id='EquipmentCost' 
            ng-model='EquipmentCost' 
            ng-change='ComputeFromAmountFinanced()'
            ng-disabled='DeterminePaymentTerms' type='number'/>
            From Tax Invoice
        </div>


        <div ng-show='showTradeIn'><label for='TradeIn'>Deposit / Trade-In</label>
            <input 
            id='TradeIn' 
            ng-model='TradeIn' 
            ng-change='ComputeFromAmountFinanced()'
            type='number'
            />
            From Tax Invoice
        </div>

        <div><label for='MVRegoCost'>MV Rego Costs</label>
            <input 
            id='MVRegoCost' 
            ng-model='MVRegoCost' 
            ng-change='ComputeFromAmountFinanced()'
            ng-disabled='DeterminePaymentTerms' type='number'/>
            From Tax Invoice
        </div>

        <div><label for='Options'>Options (incl GST)</label>
            <input 
            id='Options' 
            ng-model='Options' 
            ng-change='ComputeFromAmountFinanced()'
            ng-disabled='DeterminePaymentTerms' type='number'/>
            From Tax Invoice
        </div>

        <div><label for='SupplierDelivery'>Supplier Delivery / Extras</label>
            <input 
            id='SupplierDelivery' 
            ng-model='SupplierDelivery' 
            ng-change='ComputeFromAmountFinanced()'
            ng-disabled='DeterminePaymentTerms' type='number'/>
            From Tax Invoice
        </div>

        <div><label for='SupplierDiscount'>Supplier Discount</label>
            <input 
            id='SupplierDiscount' 
            ng-model='SupplierDiscount' 
            ng-change='ComputeFromAmountFinanced()'
            ng-disabled='DeterminePaymentTerms' type='number'/>
            From Tax Invoice
        </div>

        <div><label for='FeesAndChargesFinanced'>Fees & Charges Financed</label>
            <input 
            id='FeesAndChargesFinanced' 
            ng-model='FeesAndChargesFinanced' 
            ng-change='ComputeFromAmountFinanced()'
            ng-disabled='DeterminePaymentTerms'type='number'/>
        </div>

        <div><label for='EquipmentCostExclRego'>Equip Cost excl MV Rego Cost</label>
            <input disabled="disabled"
            id='EquipmentCostExclRego' 
            ng-model='EquipmentCostExclRego' 
            ng-change='ComputeFromAmountFinanced()' type='number'
            />
        </div>

        <div><label for='TotalEquipmentCost'>Total Equipment Cost</label>
            <input disabled="disabled"
            id='TotalEquipmentCost' 
            ng-model='TotalEquipmentCost' 
            ng-change='ComputeFromAmountFinanced()' type='number'
            />
        </div>

        <div><label for='LessorRate'>Lessor Rate %</label>
        <input 
        id='LessorRate' 
        ng-model='LessorRate' 
        ng-change='ComputeFromAmountFinanced()' percent
        />
        </div>

        <div><label for='TermInMonths'>Term (Months)</label>
            <input 
            id='TermInMonths' 
            ng-model='TermInMonths' 
            ng-change='ComputeFromAmountFinanced()' type='number'
            />
        </div>

    </fieldset>

    <fieldset>
        <legend>Brokerage Details</legend>

        <div><label for='BrokageAmount'>Brokerage (Excl GST)</label>
            <input 
            id='BrokageAmount' 
            ng-model='BrokageAmount' 
            ng-change='CalculateBrokagePercent()' type='number'
            />
        </div>

        <div><label for='BrokagePercent'>Brokerage %</label>
            <input 
            id='BrokagePercent' 
            ng-model='BrokagePercent' 
            ng-change='CalculateBrokageAmount()' percent
            />
        </div>

         <div><label for='BalloonAmount'>Balloon Amount</label>
            <input 
            id='BalloonAmount' 
            ng-model='ResidualAmount' 
            ng-change='CalculateResidualPercent()' type='number'
            />
        </div>





        <div><label for='BalloonPercent'>Balloon %</label>
            <input 
            id='BalloonPercent' 
            ng-model='ResidualPercent' 
            ng-change='CalculateResidualAmount()' percent
            />
        </div>


         <div ng-show='showGSTOnResidual'>
            <label for='GSTOnResidual'>GST On Residual</label>
            <input disabled="disabled"
            id='GSTOnResidual' 
            value='{{GSTOnResidual()}}'
        
            />
        </div>

        <div ng-show='showResidualAmountIncGST'>
            <label for='ResidualAmountIncGST'>Residual Amount($) (Inc. GST)</label>
            <input disabled="disabled"
            id='ResidualAmountIncGST' 
            value='{{BalloonAmount()}}' 
            />
        </div>

        <div><label for='AmountFinanced'>Amount Financed</label>
        <input disabled="disabled"
        id='AmountFinanced' 
        ng-model='AmountFinanced' 
        ng-change='ComputeFromAmountFinanced()'
        />
        </div>

    </fieldset>

    

        
    <fieldset>
        <legend>Extra Payments<button ng-click="AddAdvancedPayment()">+</button></legend>
        <div ng-repeat="adv in AdvancedPayments">
            
            <input ng-model="adv.MonthNumber" placeholder="Month Number" ng-change="CreateAmortizationSchedule()" type='number'>
            <input ng-model="adv.Payment" placeholder="Payment" ng-change="CreateAmortizationSchedule()" type='number'>
                <button ng-click="RemoveAdvancedPayment($index)">-</button>
            
        </div>
    </fieldset>    
        
    </div>
    <div class='amort' style='float: left'>
    <fieldset>
        <legend>{{CalcTypeName}} Summary</legend>


        <div ng-show='showTotalAmountFinanced'><label for='TotalAmountFinanced'>Loan Amount</label>
        <input disabled="disabled"
        id='TotalAmountFinanced' 
        ng-model='TotalAmountFinanced' 
        
        />
        </div>

        <div ng-show='showCostOfGoods'>
            <label for='CostOfGoods'>Cost Of Goods  (Inc GST)</label>
            <input disabled="disabled"
            id='CostOfGoods' 
            ng-model='TotalEquipmentCost' 
            
            />
        </div>

        <div ng-show='showPlusFeesAndChargesFinanced'><label for='PlusFeesAndChargesFinanced'>Plus Fees & Charges Financed</label>
            <input disabled="disabled"
            id='PlusFeesAndChargesFinanced' 
            ng-model='FeesAndChargesFinanced' 
            />
        </div>

        <div ng-show='showResidualValueIncGST'>
            <label for='ResidualValueIncGST) '>Residual Value (Inc. GST) </label>
            <input disabled="disabled"
            id='ResidualValueIncGST' 
            value='{{BalloonAmount()}}'
            />
        </div>


        <div ng-show='showTotalAmountInterest'>
            <label for='TotalAmountInterest'>Total Amount of Interest Payable</label>
            <input disabled="disabled"
            id='TotalAmountInterest' 
            value='{{TotalAmountInterest|number:2}}'        />
        </div>

        <div ng-show='showTotalAmountRepayments'>
            <label for='TotalAmountRepayments'>Total Amount of Repayments</label>
            <input disabled="disabled"
            id='TotalAmountRepayments' 
            value='{{TotalAmountRepayments|number:2}}' 
            />
        </div>


        <div>
            <label for='TermInMonthsInstallment'>Term (Months)</label>
            <input disabled="disabled"
            id='TermInMonthsInstallment' 
            value='{{TermInMonthsInstallment|number}}' 
            />
        </div>
            

            <!-- ng-show='showNumberOfRentals' value='{{NumberInstallments()}}' -->
        <div ng-show='showNumberOfRentals'>
            <label for='NumberOfRentals'>Number Of Rentals</label>
            <input disabled="disabled"
            id='NumberOfRentals' 
            value='{{NumberInstallments()}}'
            />
        </div>

        <div ng-show='showPayable'>
            <label for='Payable'>Payable</label>
            <input disabled="disabled"
            id='Payable' 
            value='{{Frequency}}'
            />
        </div>
        

        <hr/>

        <div ng-show='showHirePurchaseSummaryPart2'>
            <div>
                <label for='TotalInstallment'>Installment Amount</label>
                <input disabled="disabled"
                id='TotalInstallment' 
                value='{{TotalInstallment|number}}' 
                />
            </div>
            <!--ng-show='showNumberInstallments'-->
            <div >
                <label for='NumberInstallments'>Number of Installments</label>
                <input disabled="disabled"
                id='NumberInstallments' 
                value='{{NumberInstallments()|number}}' 
                />
            </div>


            <div>
                <label for='Frequency'>Frequency</label>
                <input disabled="disabled"
                id='Frequency' 
                value='{{Frequency}}' 
                />
            </div>

            <div>
                <label for='BalloonRepayment'>Balloon Repayment</label>
                <input disabled="disabled"
                id='BalloonRepayment' 
                value='{{BalloonAmount()|number}}' 
                />
            </div>


            <div>
                <label for='MortgageDuty'>Mortgage Duty</label>
                <input disabled="disabled"
                id='MortgageDuty' 
                value='{{MortgageDuty|number}}' 
                />
            </div>

            <hr/>
        </div>  


        <div ng-show='showFinanceLeaseSummaryPart2'>
            <div>
                <label for='RentalAmount'>Rental Amount</label>
                <input disabled="disabled"
                id='RentalAmount' 
                value='{{TotalInstallment|number}}'
                />
            </div>

            <div>
                <label for='GSTOnRental'>GST On Rental</label>
                <input disabled="disabled"
                id='GSTOnRental' 
                value='{{GSTRentalDuty()|number}}' 
                />
            </div>

            <div>
                <label for='RentalInstallment'>Rental Installment</label>
                <input disabled="disabled"
                id='RentalInstallment' 
                value='{{GSTRentalDuty() + TotalInstallment|number}}' 
                />
            </div>

            <hr/>
        </div>  

        
        <div>
            <div><label for='LesseeRate'>Lessee Rate</label>
            <input disabled="disabled"
            id='LesseeRate' 
            ng-model='LesseeRate' 
            percent
            />
            </div>

            <div><label for='LessorRate2'>Lessor Rate</label>
            <input disabled="disabled"
            id='LessorRate2' 
            ng-model='LessorRate' 
            percent
            />
            </div>


            <div><label for='GST'>GST</label>
            <input disabled="disabled"
            id='GST' 
            value='{{GST()}}' 
            
            />
            </div>

            <div><label for='LCT'>LCT</label>
            <input disabled="disabled"
            id='LCT' 
            value='{{LCT()}}' 
            />
            </div>


            <div ng-show='showITC'><label for='LCT'>ITC</label>
            <input disabled="disabled"
            id='ITC' 
            value='{{ITC()}}' 
            />
            </div>
        </div>

     </fieldset>
     </div>

    
    <div class='amort' style='float: left'>
    <fieldset>
        <legend>Amortization Schedule</legend>    
        
        <table ng-show='Amortizations.length > 0' class='table'>
            <thead>
                <tr class='header'>
                    <th>Month#</th><th>Date</th><th>Interest</th><th>Principal</th><th>Amortization</th><th>Extra Payment</th><th>Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='a in Amortizations'>
                    <td>{{a.MonthNumber}}</td>
                    <td style='text-align: right'>{{a.AmortizationDate | date:'MMM dd, yyyy'}}</td>
                    <td style='text-align: right'>{{a.Interest | number:2}}</td>                    
                    <td style='text-align: right'>{{a.Principal | number:2}}</td>
                    <td style='text-align: right'>{{a.Amortization | number:2}}</td>                    
                    <td style='text-align: right'>{{a.AdvancedPayment | number:2}}</td>
                    <td style='text-align: right'>{{a.PrincipalBalance | number:2}}</td>
                </tr>
            </tbody>
            <tfooter>
                <tr>
                    <td>Total</td><td></td>
                    <td>{{TotalInterest | number:2}}</td>
                    <td>{{TotalPrincipal | number:2}}</td>
                    <td>{{TotalAmortization | number:2}}</td>
                    <td></td>
                </tr>
            </tfooter>
        </table>    
    </fieldset>
    </div>
     
     <!--
    <fieldset>
        <legend>Old</legend>

       RentalPMT = {{RentalPMT}} <br/>
       CarGST = {{CarGST()}}<br/>
       GST =  {{GST()}}

        <div><label for='DownPaymentPercent'>Downpayment %</label></div>
        <div><input 
        id='DownpaymentPercent' ng-model='DownPaymentPercent' ng-change='ComputeFromDownPaymentPercent()' 
        ng-disabled='DeterminePaymentTerms'
        percent/></div>
        
        <div><label for='DownPayment'>Downpayment</label></div>
        <div><input id='DownPayment' ng-model='DownPayment' ng-change='ComputeFromDownPayment()' ng-disabled='DeterminePaymentTerms' type='number'/></div>
        
        <div><label for='InstallmentPrincipal'>Installment Principal</label></div>
        <div><input id='InstallmentPrincipal' ng-model='InstallmentPrincipal' ng-change='ComputeFromInstallmentPrincipal()' ng-disabled='DeterminePaymentTerms'/></div>
    </fieldset>

    <fieldset>

        <legend>Payment Terms</legend>
    
        <div><label for='NumberOfYearsToPay'>Number of years to pay</label></div>
        <div><input ng-disabled='DeterminePaymentTerms' id='NumberOfYearsToPay' ng-model='NumberOfYearsToPay' ng-change='ComputeFromYears()' type='number'/></div>
    
        
        <div><label for='NumberInstallments '>Number of months to pay</label></div>
        <div><input ng-disabled='DeterminePaymentTerms' id='NumberInstallments ' ng-model='NumberInstallments ' ng-change='ComputeFromMonths()' type='number'/></div>
        
        <div><label for='FrequencyPerPeriod'>Payment Mode(1 = Monthly, 3 = Quarterly, ..., 12 = Yearly)</label></div>
        <div><input ng-disabled='DeterminePaymentTerms' id='FrequencyPerPeriod' ng-model='FrequencyPerPeriod' ng-change='ComputeFromFrequencyPerPeriod()' type='number'/></div>
        
        <div><label for='LesseeRate'>Interest Rate Per Annum</label></div>
        <div><input ng-disabled='DeterminePaymentTerms' id='LesseeRate' ng-model='LesseeRate' ng-change='ComputeFromLesseeRate()' percent/></div>
        
        
              
    </fieldset>

    
    <fieldset>
        
        <legend>Amortization</legend>


        
        <div><label for='AmortizationFactor'>Amortization Factor</label></div>
        <div><b>{{AmortizationFactor}}</b></div>
        
        
        <div><label for='AmortizationAmount'>Amortization Amount</label></div>
        <div><b>{{AmortizationAmount | number:2}}</b></div>
        

        
        <hr/>
        <div><input type='checkbox' ng-model='DeterminePaymentTerms' ng-change='EvaluatePaymentTerms()'/>Determine Payment Terms based on your budget</div>
        <div ng-show='DeterminePaymentTerms'>
            <div><input ng-show='DeterminePaymentTerms' id='Budget' ng-model='Budget' ng-change='ComputeFromAmortizationAmount()'/></div>
            <div ng-show='IsBudgetLessThanTheFirstInterest()'>Budget should be more than the first interest({{FirstInterest() | number:2}}). Significantly higher if possible, otherwise you are just wasting your money on the interest ({{LesseeRate * 100}}%)</div>
        </div>
            
        
    </fieldset>
    
    
    <fieldset><legend>Totals</legend>
        <div style='float: left; margin-right: 5px'>Total Interest: </div>
        <div><b>{{TotalInterest | number:2}}</b></div>
        
        <div style='float: left; margin-right: 5px'>Total Principal: </div>
        <div><b>{{InstallmentPrincipal | number:2}} (aka Installment Principal)</b></div>        
        
        <div style='float: left; margin-right: 5px'>Total Amortization: </div>
        <div><b>{{TotalAmortization | number:2}}</b></div>        

        <div style='float: left; margin-right: 5px'>Total Amortization + Downpayment: </div>
        <div><b>{{TotalAmortization + DownPayment | number:2}}</b></div>                        
    </fieldset>
    -->   
</body>
</body>
</html>