<!DOCTYPE html>
<html>
<head>
<title>CBA Calc</title>


<link rel="stylesheet" type="text/css" href="CalcPrintCssPrintIssue.css">

</head>

testtable print
    <div class='amortPrint' >

 <table  class='table'>
            <thead>
                <tr class='header'>
                   <th>Term</th>
                   <th>Date</th>
                   <th>Opening Balance</th>
                   <th>Residual</th>
                   <th>Payment</th>
                   <th>Add Payment</th>
                   <th>Principal Amount</th>
                   <th>Interest Amount</th>
                   <th>Closing Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr>
                 <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr> <tr ng-repeat="x in loanProjectionLesse.loanProjections">
                    <td>1</td>
                    <td>12/12/1204</td>
                    <td>3</td>
                    <td>3</td>
                    <td>34</td>
                    <td>3
                    </td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                </tr>
            </tbody>
              <tfoot>
                <tr>
                     <td colspan="9">
                         *The schedule shows the principal and interest content of each instalment in terms of Division 240D of the Tax and is not indicative of the amount required to repay the contract in the event of early termination
                     </td>
                </tr>
            </tfoot>
</table>        
</div>
   
</body>
</html>